@import "./custom-cursor.scss";

// Site-wide CSS
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1F1B24;
}

.page {
  background-color: #1F1B24;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #F5F5F5;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 95vw;
  margin: 0 auto;
  justify-content: space-between;
}

// Gallery
.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

// Other elements
.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: black;
  color: #f0f0f0;
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}